name: "Build & release"

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: "Build library"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build-configuration: [ Debug, Release ]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # required for minver to create the right version number
          filter: tree:0

      - uses: jdx/mise-action@v3

      - name: Restore
        run: just restore

      - name: Format
        run: just format --verify-no-changes

      - name: Build
        run: just build --configuration ${{ matrix.build-configuration }}

      - name: Test
        run: just test --configuration ${{ matrix.build-configuration }}
