name: "Build & release"

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: "Build library"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build-configuration: [ Debug, Release ]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # required for minver to create the right version number
          filter: tree:0

      - uses: jdx/mise-action@v3

      - name: Restore
        run: just restore

      - name: Format
        run: just format --verify-no-changes

      - name: Build
        run: just build --configuration ${{ matrix.build-configuration }}

      - name: Test
        run: just test --configuration ${{ matrix.build-configuration }}

      - name: Assign package build metadata
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "MINVERBUILDMETADATA=build.${{ github.run_id }}.${{ github.run_attempt}}" >> $GITHUB_ENV

      - name: Pack
        if: matrix.build-configuration == 'Release'
        run: just pack --configuration ${{ matrix.build-configuration }}

      - name: Publish package artifact
        if: matrix.build-configuration == 'Release'
        uses: actions/upload-artifact@v6
        with:
          name: Packages
          path: packages/*.nupkg
