name: CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: "Build, test & package"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build-configuration: [ Debug, Release ]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # required for minver to create the right version number
          filter: tree:0

      - uses: jdx/mise-action@v3

      - name: Build
        run: mise run build --configuration ${{ matrix.build-configuration }}

      - name: Test
        run: mise run test --configuration ${{ matrix.build-configuration }}
